body {
    background-color: black;
    color: white;
    background-size: cover;
    font-family: sans;
    font-weight: lighter;
    text-align: center;
}
#container{
    margin: 200px auto;
}
#counter{
    margin: 20px auto;
    background-color: white;
    color: black;
    width: 150px;
    height: 35px;
    padding: 10px;
    border-radius: 30px;
}


h1 {
    font-size: 25px;
    margin-top: 10px;
    margin-bottom: 10px;
}

h2 {
    font-size: 30px;
    margin-top: 0;
    margin-bottom: 20px;
}

button {
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    color: black;
    font-weight: bold;
    width: 150px;
    margin-bottom: 5px;
    border-radius: 50px;
}
button:hover{
    cursor: pointer;
    
    
}

#increment-btn {
    background: white;
}
#increment-btn:hover{
    background-color: red;
    color: white;
}

#save-btn {
    background: white;
}
#save-btn:hover{
    background-color: green;
    color: white
}
#add-btn:hover{
    background-color: blue;
    color: white;
}

